{% extends "base.html" %}
{% block title %} LR algorithm Predict {% endblock %}
{% block content %} 

<div class="container">
  <h1>Online Predict: Logistic regression Classification Algorithm</h1>
  <p>Give me feature, I will give u a label.
  </p>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="para-to-train"><strong>Enter the parameter</strong></label>
          <input type="text" class="form-control" id="feature" aria-describedby="feature"  placeholder="Enter Feature" value=''>
          <label for="para-to-train">
            For example: data=[5.1, 3.5, 1.4, 0.2]<br>
            此頁面會以一個我們已經訓練好的 Model，用您的 Feature 做 Predict，回傳一個 Label 給您。
          </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="predict">Predict</button></br>
        </br>
        <div id="algo" name="LR">
        </div>
      </form>
    </div>

    <div class="col">
      <form>
        <div class="form-group" id="train-response">
          <label for="train-result"><strong>Return:</strong></label>
          <textarea readonly class="form-control" id="train-result" rows="5"></textarea>
        </div>
      </form>
    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}