{% extends "base.html" %}
{% block title %} NB algorithm Predict {% endblock %}
{% block content %} 

<div class="container">
  <h1>Online Train</h1>
  <p>Give me feature, I will give u a label.
  </p>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="para-to-train"><strong>Enter the parameter</strong></label>
          <input type="text" class="form-control" id="feature" aria-describedby="feature"  placeholder="Enter Feature" value=''>
          <label for="para-to-train">
            For example: data=[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00, 3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00,
            1.040e+00, 3.920e+00, 1.065e+03]<br>
            此頁面會以一個我們已經訓練好的 Model，用您的 Feature 做 Predict，回傳一個 Label 給您。
          </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="predict">Predict</button></br>
        </br>
        <div id="algo" name="NB">
        </div>
      </form>
    </div>

    <div class="col">
      <form>
        <div class="form-group" id="train-response">
          <label for="train-result"><strong>Return:</strong></label>
          <textarea readonly class="form-control" id="train-result" rows="5"></textarea>
        </div>
      </form>
    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- container -->

{% endblock %}